@using BlazorApp.Data.Models
@using BlazorApp.Services
@inject NavigationManager _navigationManager

  <div class="container-sm">
  <hr />
<h1><center><small>Список товаров отгрузки:</small></center></h1>
   <div class="table-responsive">
         <table class="table table-striped">
    <thead>
    <tr>
        <th>ID отгрузки</th>
        <th>Дата</th>
        <th>Время</th>
        <th>Id товара</th>
        <th>Id заказчика</th>
    </tr>
    </thead>
    <tbody>
    @if (shipments != null)
    {
       @foreach (var shipment in shipments)
        {
            <tr>
                <td>@shipment.ShipmentId</td>
                <td>@shipment.Date</td>

                <td>@shipment.Time</td>
                <td>@shipment.ProductId</td>
                <td>@shipment.CustomerId</td>
            </tr>
        }
    }
    </tbody>
</table
</div>
</div>

@code{
    private List<Shipment>? shipments;
    [Inject]
    private IShipmentProvider shipmentProvider { get; set; }
    protected override async Task OnInitializedAsync()
    {
        shipments = await shipmentProvider.GetAll();
    }
    public void toItem(Product product)
    {
        _navigationManager.NavigateTo($"/Product/{product.ProductId}");
    }
}